[2022-08-22 04:36] rohitdasu opened #5 "[DOCS] improve README.md file"
Add a README.md file with instructions to. start the application

[2022-08-22 04:47] rohitdasu opened #6 "[FEATURE] add landing page for the app"

[2022-08-22 13:15] HKAgrwl commented on #5
Hi, can you assign this issue to me?

[2022-08-22 13:20] HKAgrwl commented on #5
I can add pictures of the homepage/frontend so devs know what it looks like when up and running

[2022-08-22 13:23] rohitdasu commented on #5
@HKAgrwl good idea but let's add the homepage/landing image later as it's not ready yet. But could you add icons for the tech stack? like you can add Nextjs/React icon beside the React/Nextjs and Nodejs icon beside the nodejs text.

[2022-08-22 13:34] rohitdasu commented on #5
add this discord link too - https://discord.gg/M2BMPdku

[2022-08-22 13:38] rohitdasu opened #11 "[feature] add figma design for this project"

[2022-08-22 13:39] rohitdasu opened #12 "[docs] add CONTRIBUTING.md"

[2022-08-22 13:46] rohitdasu opened #13 "[chore] deploy both frontend and backend"

[2022-08-22 14:00] HKAgrwl commented on #5
OK

[2022-08-22 14:01] rohitdasu commented on #5
@HKAgrwl assigned it to you. please work on it and raise a PR

[2022-08-22 14:06] rohitdasu opened #14 "[chore] add an issue template and pr template"

[2022-08-22 15:28] RakeshSangem commented on #14
Hey @rohitdasu , May be I can work on it.

[2022-08-22 16:31] rohitdasu opened #16 "[chore] add conventional commit messages"
add a check for conventional commit

[2022-08-23 18:35] #6 closed

[2022-08-23 18:36] rohitdasu opened #17 "[FEATURE] improve landing page and add mobile responsiveness"

[2022-08-24 00:07] AdityaPainuli commented on #17
I will work on this one .

[2022-08-24 02:18] rohitdasu commented on #17
Sure @AdityaPainuli I'm assigning it to you

[2022-08-24 08:39] #12 closed

[2022-08-24 09:42] #17 closed

[2022-08-24 09:49] rohitdasu opened #20 "[DOCS] create CODE_OF_CONDUCT.md file"

[2022-08-24 17:54] rohitdasu opened #23 "[FEATURE] add social auth - Github and Google"
Requirements:

Add a modal, when user clicks on "Join US" button then the modal will popup which consists of social auths.

[2022-08-24 17:58] rohitdasu commented on #23
@AdityaPainuli sure, assigning it to you 👍

[2022-08-24 19:03] rohitdasu commented on #13
done!

[2022-08-24 19:03] #13 closed

[2022-08-24 19:03] rohitdasu commented on #11
I'm working on the figma file

[2022-08-25 10:03] rohitdasu opened #24 "[bug] npm install fails in the frontend, we need to force it to make it work (npm install --force)"

[2022-08-25 10:04] rohitdasu opened #25 "[FEATURE] add redux to the frontend application"
Add redux state management library to the frontend

[2022-08-26 19:43] RakeshSangem opened #31 "[DOCS] improve warning note."
## fixes issue
To get the user's attention more effectively, I updated the `note` as seen in the picture below.

## Screenshot
![Screenshot 2022-08-27 010042](https://user-images.githubusercontent.com/107752425/186979140-8ed0df7a-ff72-4be8-b317-fac688ba3af8.png)

[2022-08-27 03:25] #31 closed

[2022-08-27 13:27] #25 closed

[2022-08-27 13:28] #20 closed

[2022-08-27 13:29] rohitdasu commented on #11
@RakeshSangem assigning it to you

[2022-08-27 13:30] RakeshSangem commented on #11
Sure.

[2022-08-27 13:36] rohitdasu commented on #5
@HKAgrwl could you please let me know if you can resolve the comments in the PR #15 ?

[2022-08-27 16:44] #16 closed

[2022-08-28 13:33] rohitdasu commented on #5
this issue is open to be worked. if anyone interested please create a PR. Thanks

[2022-08-28 15:04] rohitdasu opened #46 "[DOCS] update the readme.md file"
as we have removed backend so let's update the readme.md file instructions

[2022-08-28 16:58] #46 closed

[2022-08-28 16:59] #5 closed

[2022-08-28 17:00] rohitdasu opened #48 "[REFACTOR] improve codebase"
improve codebase and structure

[2022-08-28 19:21] krupalitrivedi opened #50 "[DOCS] Adding Live Website Screenshots/Video"
It provides a beautiful look to the ReadMe file and a better understanding to possible users of what they might find when they click on the link.

(This can also work as a good first issue!)

[2022-08-28 19:23] rohitdasu commented on #50
Yes, nice idea

[2022-08-28 19:23] RakeshSangem commented on #50
In my opinion, we have not ready to display the live website.

[2022-08-28 19:24] rohitdasu commented on #50
This can be done later when we release our first MVP version

[2022-08-28 19:24] RakeshSangem commented on #50
Yes, Exactly. For now we are not ready imo.

[2022-08-28 19:26] krupalitrivedi commented on #50
Okay! Just a suggestion <3 Whenever you wish to integrate

[2022-08-28 19:28] RakeshSangem commented on #50
BTW, nice idea though! Thanks for reminding us⚡

[2022-08-28 19:28] rohitdasu commented on #50
@krupalitrivedi i'm assigning this issue to you. You can work on this when our first version releases.
Join our discord server for more interaction with the team - https://discord.com/invite/M2BMPdku.

[2022-08-29 12:25] rohitdasu opened #52 "[DOCS] improve README.md file"
Use your creativity and make improvements to the readme.md file

[2022-08-29 13:26] rohitdasu opened #53 "[DOCS] add how to get connection string from mongodb to the readme.md file"
add the process to the `instructions of starting the app` step 3. If you have any doubt please comment.

[2022-08-29 17:14] #48 closed

[2022-08-29 17:56] rohitdasu opened #57 "[CHORE] replace className with tw"
replace className with tw in all the files.

[2022-08-30 14:27] #23 closed

[2022-08-30 14:49] rohitdasu opened #60 "[FEATURE] Auth - add condition to join us button"
Please hide join us button if the user is already logged in. Please add signin button.

[2022-08-31 15:29] #57 closed

[2022-09-01 08:48] #60 closed

[2022-09-01 08:50] rohitdasu opened #64 "[BUG] fix hover issue and selected page highlight"
<img width="316" alt="Screenshot 2022-09-01 at 2 19 28 PM" src="https://user-images.githubusercontent.com/48400770/187873184-d16a3317-25f8-46c6-84e6-b99988e25479.png">

please add hover effect as well as selected route highlight (active route)

[2022-09-01 08:51] AdityaPainuli commented on #64
Assign it to me will work on it.

[2022-09-01 08:51] rohitdasu commented on #64
done! thanks

[2022-09-01 13:26] RakeshSangem commented on #64
It's looks like issue has been resolved, if that's the case please close this issue. @AdityaPainuli @rohitdasu

[2022-09-01 13:27] #64 closed

[2022-09-01 13:27] rohitdasu commented on #64
thanks @RakeshSangem

[2022-09-01 14:14] rohitdasu opened #66 "[FEATURE] make projects page with all ui elements"

[2022-09-01 15:30] AdityaPainuli commented on #66
Will take this one over ..

[2022-09-01 17:14] AdityaPainuli opened #67 "Feat: (Adding dark mode as an default mode)☀"

[2022-09-01 18:03] #67 closed

[2022-09-02 15:45] rohitdasu opened #71 "[FEATURE] - Backend api for projects page"
crerate backend api for getting data for the projects page. Use mongodb for data storage and retrieve the data using nextjs api.

[2022-09-03 03:08] #71 closed

[2022-09-03 04:51] #66 closed

[2022-09-03 11:01] rohitdasu opened #76 "[FEATURE] get data from backend"
fetch data for home from home api(api/home) and integrate it to landingpage/homepage

[2022-09-03 17:21] rohitdasu opened #79 "[BUG] logout toast message not showing"
logout toast message not showing except the homepage.

[2022-09-03 17:34] AdityaPainuli commented on #79
I will look into this issue ..

[2022-09-03 17:35] rohitdasu commented on #79
sure adding you to this ticket

[2022-09-03 17:40] rohitdasu opened #80 "[DOCS] add about/about-us text section for the app"
Mainly focus on
* What we do
* What's the current issue we are solving
* How we got the idea to solve it
* small shoutout to our contributors

[2022-09-03 17:46] rohitdasu opened #81 "[FEATURE] add project api (POST api)"
Create a post api for adding projects to the mongoDB database

[2022-09-04 04:11] rohitdasu opened #82 "[FEATURE] show auth screen on click 'contribute' button on projects page"
auth screen should show when user is unauthenticated and clicks on 'contribute' button

[2022-09-04 05:18] #14 closed

[2022-09-04 05:40] rohitdasu commented on #24
i think now it's working fine. we don't need to `npm install --force`

[2022-09-04 08:29] rohitdasu opened #85 "[BUG] replace every .png icon used in the project with .svg"
### Description

```Requirements:```
* Please replace .png icons with .svg
* Don't change images accroding to mode instead change color of icon using svg color properties.

### Screenshots

_No response_

[2022-09-04 09:24] dpd007 commented on #82
Give me this task @rohitdasu. I'll do.

[2022-09-04 09:25] rohitdasu commented on #82
assigned it 👍

[2022-09-04 11:43] rohitdasu opened #86 "[FEATURE] add infinite scroll to the projects page [FE]"
### Description

the idea is to not use pagination where the UX would be not that great. Infinite Scroll is the new trend so let's implement this. The data should be getting from backend and on each `scroll down to bottom` it will fetch some extra data to the projects array. Let's discuss it if you have any doubts.

**Note**

[2022-09-04 11:45] rohitdasu opened #87 "[FEATURE] add backend api that supports infinity scroll"
### Description

This is just backend implementation. The API should be configured that way so it will be easy to implement infinity scroll in the frontend.

[2022-09-05 17:03] AdityaPainuli commented on #76
@rohitdasu what do you think if we use hardcoded data for the home page?

[2022-09-05 17:04] rohitdasu opened #89 "[FEATURE] add a tooltip component"
### Description

We should have a tooltip component that can be reusable anywhere.
* it should change according to the dark-mode/light-mode
* configurable directions (Left, Right, Top, Bottom)

`open for new features`

[2022-09-05 17:05] AdityaPainuli commented on #76
yeah sure..

[2022-09-05 17:49] rohitdasu opened #90 "[CHORE] improve codebase and refactoring"
### Description

* improve code structure
* Improve code if there is a requirement
* Optimise logics
* Remove any unused package (If any)
* Optimise images etc.

[2022-09-06 03:55] RakeshSangem commented on #85
Cool, I'll work on it.

[2022-09-06 03:56] rohitdasu commented on #85
Thanks @RakeshSangem

[2022-09-06 04:00] rohitdasu commented on #82
@AdityaPainuli - we should not disable the contribute button, instead we should show login modal

any other opinion on this issue ?
@RakeshSangem

[2022-09-06 04:05] RakeshSangem commented on #82
Yeah! We can display the login component when the user clicks the contribute button. In that login component, can we also add a phrase like `login to continue`?

[2022-09-06 04:06] AdityaPainuli commented on #82
Yup it can be on that also .

[2022-09-06 04:10] rohitdasu commented on #82
Ok then i'm changing the issue title as we got different way to handle this issue

[2022-09-06 18:33] rohitdasu opened #94 "[FEATURE] add project form"
### Description

The `add project` form should open when user clicks on the `add project` button which is present in the fab action button.

[2022-09-07 07:02] VladBrok commented on #89
Hello, I would like to work on this issue

[2022-09-07 07:23] rohitdasu commented on #89
sure @VladBrok

[2022-09-07 17:30] RakeshSangem opened #95 "[FEATURE] Integrate Prisma MongoDB into NextJS"
### Description

Check references down below:

- **How to setup Prisma+MongoDB**: https://itnext.io/using-prisma-orm-with-mongodb-in-next-js-e42b1f7543e6

- **Prisma Official Docs**: https://www.prisma.io/docs/concepts/database-connectors/mongodb

[2022-09-07 17:44] RakeshSangem opened #96 "[FEATURE] add data model to the project - BE"
### Description

- add project data model
- add user data model

[2022-09-07 18:26] RakeshSangem opened #97 "[BUG] fix inconsistent size of navbar icons"
### Description

- Navbar icons should in the same size so that they look good.
- Suggested icon size is 30*30px

### Screenshots

![icons inconsitency](https://user-images.githubusercontent.com/107752425/188950838-e4060299-78a8-4ee4-a885-5a78f2b465b4.png)

[2022-09-08 02:44] #97 closed

[2022-09-08 05:00] ykhokhaneshiya commented on #95
@rohitdasu @RakeshSangem , Please assign this to me.

[2022-09-08 05:01] rohitdasu commented on #95
Done! @ykhokhaneshiya feel free to create a PR

[2022-09-08 09:01] AdityaPainuli commented on #82
Assign this one to me I'll handle it

[2022-09-08 16:22] #95 closed

[2022-09-08 16:48] leewan-09 commented on #81
I would like to do this task. Could you elaborate a little more?
@rohitdasu

[2022-09-08 16:50] rohitdasu commented on #81
sure, would you like to join our discord server? we can explain you better there.
https://discord.gg/SJc3QPpYzU

[2022-09-08 17:02] #89 closed

[2022-09-08 17:19] AdityaPainuli commented on #76
Hey @rohitdasu  do you have any lead on this or should we close this for now?

[2022-09-08 17:21] #76 closed

[2022-09-08 17:23] rohitdasu commented on #53
it will be covered in the readme upgrade PR

[2022-09-08 17:23] #53 closed

[2022-09-08 17:25] AdityaPainuli opened #101 "Cleaning up the use of mongo library ."
### Description

As we are not using mongo lib for right now I am thinking of removing it from the project and cleaning / refactoring some of the backend code.

[2022-09-08 17:27] rohitdasu commented on #101
yeah nice idea.

[2022-09-08 17:44] AdityaPainuli commented on #96
I think @ykhokhaneshiya is working on it.

[2022-09-08 18:10] #52 closed

[2022-09-08 18:27] RakeshSangem opened #104 "[FEATURE] add tooltip for socials and dark/light mode icon."
## Description

- User might occasionally be unfamiliar with the icon user for.
- In these situations, having a tooltip for social icons and icons in dark/light modes will be helpful.
- So, add `Tooltip` for socials and dark/light mode theme icon.

## For reference:
![Screenshot 2022-09-08 234847](https://user-images.githubusercontent.com/107752425/189196598-1081f5a2-db29-4841-b0ce-8d1b6a0ec7ac.pn

[2022-09-08 18:29] rohitdasu commented on #104
so basically add tooltips for the below icons only in the navbar

<img width="169" alt="Screenshot 2022-09-08 at 11 59 14 PM" src="https://user-images.githubusercontent.com/48400770/189198524-922b7401-7fb6-4c4c-80c5-7794e44421a5.png">

[2022-09-08 18:30] RakeshSangem commented on #104
Yes, Exactly💯

[2022-09-09 04:06] #82 closed

[2022-09-09 06:52] AdityaPainuli commented on #94
what do you think about creating our own form?

[2022-09-09 11:28] AdityaPainuli opened #105 "Optimizing the Database (user and project) model"
### Description

### 1. In the project model, we don't have any unique data fields also at the same most of the important fields are optional. we need to fix these things in the project model

### 2. We need to create a user model with it and set up an optional relationship with the project model (database relations will be one - too many ).

![code](https://user-images.githubusercontent.com/66621

[2022-09-09 12:04] RakeshSangem commented on #105
I've just recently referred to the Prisma documentation. So I came to know that `?` makes the field optional. In our case those fields are mandatory fields. So this should be fixed ASAP!

Nice observation @AdityaPainuli .

[2022-09-09 12:05] AdityaPainuli commented on #105
If no one is working on this I can pick this issue and solve it today.

[2022-09-09 12:06] ykhokhaneshiya commented on #105
@AdityaPainuli @rohitdasu , I have made this change and just updating on the same branch.

[2022-09-09 12:08] RakeshSangem commented on #105
Good job👏

[2022-09-09 17:15] leewan-09 commented on #105
i working on this task

[2022-09-09 17:27] rohitdasu commented on #105
thanks @leewan-09 please let us know if you want anything

[2022-09-09 17:28] rohitdasu commented on #96
we have created a new issue related to it. so closing this

[2022-09-09 17:28] #96 closed

[2022-09-09 17:29] rohitdasu commented on #94
yeah for now we can use basic forms but later we can think of quill or something else 👍

[2022-09-09 17:36] RakeshSangem commented on #94
Yeah, at first we should make it functional. We can improve it in future.

[2022-09-09 18:04] #105 closed

[2022-09-09 18:11] leewan-09 commented on #24
I'm trying to fix this issue

[2022-09-09 18:12] rohitdasu commented on #24
@leewan-09 thanks

[2022-09-09 18:19] #101 closed

[2022-09-10 06:38] #104 closed

[2022-09-10 10:02] rohitdasu opened #113 "[BUG] replace the old tooltip package"
### Description

The current tooltip package which we are using is 2 years old.
We should create a new tooltip which is latest and feature rich

### Screenshots

_No response_

[2022-09-10 10:10] #24 closed

[2022-09-10 10:34] #85 closed

[2022-09-10 10:35] RakeshSangem commented on #113
Yup, good point!

[2022-09-10 10:37] RakeshSangem commented on #11
Will reopen this issue if we needed in the future!

[2022-09-10 10:37] #11 closed

[2022-09-10 11:22] leewan-09 commented on #90
Should i do it

[2022-09-10 11:22] rohitdasu commented on #90
@leewan-09 sure 👍

[2022-09-10 15:06] rohitdasu opened #115 "[FEATURE] add 'add project' button to the app"
### Description

Description:
* We've not decided the design for it but take inspiration from other apps
* The button should only appear when user is authenticated

[2022-09-10 16:14] #90 closed

[2022-09-10 16:55] AdityaPainuli opened #116 "[FEATURE] Adding API routes"
### Description

for me right now we have to make API routes for -
1. Adding a user
2. Creating a project

[2022-09-10 17:36] rohitdasu commented on #81
closing this task as @AdityaPainuli created a new issue related to it.

[2022-09-10 17:36] #81 closed

[2022-09-10 17:44] leewan-09 commented on #80
Are we going to use markdown?

[2022-09-10 17:45] rohitdasu commented on #80
yeah that would be great. we can directly send data from backend.

[2022-09-11 07:54] #115 closed

[2022-09-11 08:05] rohitdasu commented on #94
Changing the issue title as we are not going to implement quill-forms now. we are going to use normal forms as of now

[2022-09-11 08:13] leewan-09 commented on #116
While you're doing the API try to fix that RESPONSE TYPE

![image](https://user-images.githubusercontent.com/60838584/189517965-9471f6d8-33a8-42d8-bc70-11ac805a2ab5.png)

[2022-09-11 08:14] rohitdasu commented on #116
@AdityaPainuli

[2022-09-11 08:49] AdityaPainuli commented on #116
Ok I will look into this problem

[2022-09-11 08:55] AdityaPainuli commented on #116
## I am also thinking of adding a tags model into the project schema file .

### Tag model is going to be -

#### What do you guys think about it?

[2022-09-11 08:57] AdityaPainuli commented on #116
Btw where are we going to use it ?

[2022-09-11 09:00] rohitdasu commented on #116
In the api response we will be sending in this type

[2022-09-11 09:03] AdityaPainuli commented on #116
we can do any on the data field

[2022-09-11 09:04] leewan-09 commented on #116
we can make class like [this] (https://blog.devgenius.io/nodejs-make-your-api-response-nicely-f562f78cb67)

[2022-09-11 09:04] AdityaPainuli commented on #116
![code](https://user-images.githubusercontent.com/66621672/189519776-d009181f-bdaa-4edf-99f6-354cbf95f13f.png)
what you think about it

[2022-09-11 09:05] rohitdasu commented on #116
No we shouldn't use 'any'

[2022-09-11 09:05] leewan-09 commented on #116
https://blog.devgenius.io/nodejs-make-your-api-response-nicely-f562f78cb67
read this

[2022-09-11 09:39] rohitdasu commented on #116
Can you implement in this approach @AdityaPainuli  ?

[2022-09-11 10:30] AdityaPainuli commented on #116
I will try to do that

[2022-09-11 13:35] RakeshSangem opened #121 "[FEATURE] Demo check project board"
### Description

Checking...

[2022-09-11 17:20] #116 closed

[2022-09-11 17:26] leewan-09 opened #123 "[CHORE] API code refactor"
### Description

Refactor and improve backend code

[2022-09-11 17:28] RakeshSangem commented on #123
Who want to work on this?

[2022-09-11 17:28] rohitdasu commented on #123
@leewan-09  will do it

[2022-09-11 17:28] rohitdasu commented on #123
he's already assigned

[2022-09-11 18:35] AdityaPainuli opened #124 "[FEATURE] Creating an form for adding project details into the database."
### Description

I think after working more on the schema refactoring issue this would  be the one where we will need to work on

### Design  - I am still looking for some design for the project page. If guys have any please list them down below.

[2022-09-11 18:35] #124 closed

[2022-09-11 18:36] AdityaPainuli commented on #124
Closing issue as it is already been created .

[2022-09-12 04:11] AdityaPainuli commented on #94
I will work on it. assigning it to me

[2022-09-12 13:51] #123 closed

[2022-09-12 14:34] rohitdasu opened #126 "[DOCS] create an image for this repository - social preview/Repo card"
### Description

create an image for this repository - social preview

Whenever we share our repository link this image will be shown as embedded

Image resolution should be 1280x640

See below template

![repository-open-graph-template](https://user-images.githubusercontent.com/48400770/189681347-ca59c84a-a50e-45be-8846-85799047d188.png)

[2022-09-12 16:01] leewan-09 commented on #113
might help you https://flowbite.com/docs/components/tooltips/

[2022-09-13 14:00] leewan-09 opened #127 "[BUG] Validating a Nextjs API Endpoint"
### Description

**CURRENTLY, THERE IS NO VALIDATION ADDED TO API ENDPOINTS**. If we send a body with empty strings, the server will accept it.
### implement zod to validate body

[2022-09-14 04:29] rohitdasu opened #129 "[FEATURE] create user in db when user login for first time"
### Description

Requirements:
* we should save user details in our database when user login/signup for the first time.
* we need to query in our db, if user is already present then we shouldn't add.

[2022-09-14 04:39] rohitdasu opened #130 "[FEATURE] secure APIs from unauthorised access"
### Description

Remove unauthorised access from following APIs

- Create Project API
- Get Project API
- Get Users API
- Create Users API

[2022-09-14 13:13] #127 closed

[2022-09-14 15:20] rohitdasu opened #132 "[CHORE] move local dummy data into db"
### Description

Requirement:
Currently we are getting projects dummy data from local folder. That needs to be changed. We should move that data into database and we should fetch that data through API and bind into projects page.

[2022-09-14 16:21] sachdevlaksh commented on #132
Would like to check this out.

[2022-09-14 16:21] rohitdasu commented on #132
added you 👍

[2022-09-14 17:11] #129 closed

[2022-09-15 04:41] flying-solo commented on #126
@rohitdasu I would like to take this issue , and work on it .

[2022-09-15 04:44] rohitdasu commented on #126
@flying-solo Hi, we have already got an image for it. but feel free to work on it. will use it if we find your image more attractive 👍

[2022-09-15 04:44] rohitdasu commented on #126
join our discord server to meet our team and discuss

[2022-09-15 04:45] RakeshSangem commented on #126
Yeah, would love to see your work!

[2022-09-15 04:47] flying-solo commented on #132
@rohitdasu i would like to work on this

[2022-09-15 09:40] RakeshSangem commented on #132
Hey @flying-solo . Thanks for showing interest but I think @sachdevlaksh working on it. Please join our discord server to know more.

[2022-09-15 12:02] RakeshSangem opened #134 "[FEATURE] Create Project's detail page [FE]"
### Description

Create projects details page.

- Detail page contains more info of the project
- User will navigate to `project details page` when he/she clicks on contribute button

[2022-09-15 12:29] RakeshSangem opened #135 "[FEATURE] create user's profile page [FE]"
### Description

We need to create a user's profile page
- In user's profile page we display the information about the user.
- User must authenticate with either Google or GitHub in order to access his profile.

## reference image
![profile](https://user-images.githubusercontent.com/107752425/190402927-4bdea10d-9a4c-4644-b952-2119da3b2a86.png)

[2022-09-15 16:46] rohitdasu opened #137 "[FEATURE] improve project card"
### Description

make it better in-terms of responsiveness and layout wise

![Screenshot 2022-09-15 at 10 15 24 PM](https://user-images.githubusercontent.com/48400770/190460980-ee3e5c3a-01ce-4c81-ac2b-778cda9bde1c.png)

[2022-09-15 18:08] #126 closed

[2022-09-16 16:51] #137 closed

[2022-09-16 17:43] RakeshSangem opened #141 "[Refactor] improve the login UI [FE]"
### Description

The current login UI is not looking great. It could be improved.
- so with the help of reference image update the login UI

### Reference image
![Projectmate_login](https://user-images.githubusercontent.com/107752425/190700384-696ca410-ac00-4271-8897-a8ae1de435a6.png)

[2022-09-17 06:26] Rounak-28 commented on #141
I want to work on this !

[2022-09-17 06:27] rohitdasu commented on #141
assigning you. please create a PR when you're done developing it.

[2022-09-17 09:57] #141 closed

[2022-09-17 12:26] #130 closed

[2022-09-17 16:31] #113 closed

[2022-09-17 16:32] #132 closed

[2022-09-17 17:34] rohitdasu opened #149 "[FEATURE] add skeleton loader for the projects page"
### Description

Requirement:
- Add skeleton loader to the projects page, so when the data is not loaded 100% it will show skeleton laoding.

[2022-09-17 17:43] rohitdasu opened #150 "[BUG] After successful login, `button` is still showing `join us`"
### Description

Requirement:

After logging in change the button text from 'Join Us' to 'Explore Projects' and route it to the `/projects` route.

### Screenshots

<img width="357" alt="Screenshot 2022-09-17 at 11 10 43 PM" src="https://user-images.githubusercontent.com/48400770/190869693-246b9404-ba00-4145-874b-b4cedb19c763.png">

[2022-09-17 17:45] rohitdasu opened #151 "[BUG] active route is not showing in nav"
### Description

Requirement:
Active route should be highlighted. for example: if we are at `/project` route then it should highlight the `project` tab/button from the navbar

### Screenshots

<img width="872" alt="Screenshot 2022-09-17 at 11 14 04 PM" src="https://user-images.githubusercontent.com/48400770/190869780-20ab25a7-ca8a-4711-ae4a-4613c488c0ba.png">

[2022-09-18 04:43] #151 closed

[2022-09-18 05:51] RakeshSangem opened #153 "[BUG] improve login card and fix theme issues"
### Description

Login card UI can be improved
- Login card background not changing according to theme mode.
- Fix inconsistent spacing of the card items
- add border to the login card

### Screenshots

![login UI](https://user-images.githubusercontent.com/107752425/190887728-062ca518-9912-4188-9af1-1c4916fda992.png)

[2022-09-18 05:54] Rounak-28 commented on #153
I will work on this

[2022-09-18 05:56] RakeshSangem commented on #153
Awesome, assigned to you!

[2022-09-18 06:08] RakeshSangem opened #154 "[BUG] fix inconsistent sizes of the project card"
### Description

## 1. Fix in consistent sizes of the project card
![project card](https://user-images.githubusercontent.com/107752425/190888191-b247d869-8ca7-44e9-8a37-3242a9ccf49d.png)

## 2. Add border to project card and tech stack chips
![light mode](https://user-images.githubusercontent.com/107752425/190888284-b6344d0a-e59d-41c6-a882-12745c66cd8b.png)

### Screenshots

_No response_

[2022-09-18 09:55] vishisht08 commented on #154
hii @RakeshSangem i would like to contribute to this issue please assign me this.

[2022-09-18 09:57] rohitdasu commented on #154
@vishisht08 assigning to you. feel free to join our discord to get anykind of support.

[2022-09-18 09:57] vishisht08 commented on #150
hii @rohitdasu i would contribute in this can u please share the code so that i can make changes accordingly.

[2022-09-18 10:00] rohitdasu commented on #150
Hi @vishisht08 could you please join our discord server? you can decide on which ticket you can work with.

[2022-09-18 10:22] vishisht08 commented on #150
@rohitdasu sure

[2022-09-18 10:35] Rounak-28 commented on #150
@vishisht08 https://discord.gg/nhjSU8ek
here!

[2022-09-18 16:55] #153 closed

[2022-09-19 15:32] #154 closed

[2022-09-19 15:58] rohitdasu opened #162 "[BUG] navbar re-renders on every page"
### Description

Re-rendering navbar makes the state lose and animation also doesn't work properly on route change.
Create a layout that would prevent this issue.

### Screenshots

_No response_

[2022-09-19 16:23] rohitdasu opened #163 "[FEATURE] add user avatar-dropdown to the navbar"
### Description

Requirements:

(large view)
add avatar to the navbar when user is successfully logged in. on clicking on the avatar should open a dropdown. where we should have two options
- profile
- logout

(mobile view)
in mobile mode show the options in the sidemenu. take inspiration from below 👇

![IMG_2575](https://user-images.githubusercontent.com/48400770/191065404-5af745e6-8280-43c4-83d5

[2022-09-19 19:34] leewan-09 opened #165 "[FEATURE] Use Next-auth instead of firebase-auth"
### Description

Currently, the web is using firebase auth, instead of firebase-auth use next-auth.

[2022-09-20 07:29] #162 closed

[2022-09-20 12:44] #149 closed

[2022-09-21 14:33] rohitdasu opened #168 "[CHORE] code refactor/improvement"
### Description

After so many feature addition, we need code refactor/improvement and make code efficient.

[2022-09-21 14:34] #165 closed

[2022-09-21 14:35] #150 closed

[2022-09-21 14:51] rohitdasu opened #169 "[BUG] replace old float action button"
### Description

replace old floating action button package with new one or create a custom floating action button

### Screenshots

<img width="192" alt="Screenshot 2022-09-21 at 8 20 25 PM" src="https://user-images.githubusercontent.com/48400770/191537368-42470e6e-0b73-4dd5-9a74-f276691fa8cf.png">

[2022-09-22 14:26] #168 closed

[2022-09-23 15:20] #169 closed

[2022-09-23 15:47] AdityaPainuli commented on #134
After completing the add-project page front-end I can work on this until someone else wants to work on it ..

[2022-09-23 15:49] rohitdasu commented on #134
let me work on it please.

[2022-09-23 15:51] AdityaPainuli commented on #134
Ok from my side 👍

[2022-09-24 09:08] #163 closed

[2022-09-24 09:39] #94 closed

[2022-09-24 09:45] rohitdasu opened #175 "[FEATURE] integrate add-project page with backend api"
### Description

Requirement:

Integrate add-project form with the backend create project API.
Use react-hook-form (https://react-hook-form.com/)
Add validation in frontend.
for now use any hardcoded blank image url while adding project.

[2022-09-25 06:49] rohitdasu opened #178 "[BUG] replace 'any' and make strongly typed components"
### Description

In our app lot of placing we are using `any` type. that's not a good practice. we need help with that. anyone with good typescript experience can fix this. thanks 🙏

### Screenshots

_No response_

[2022-09-25 12:36] #175 closed

[2022-09-26 14:12] #87 closed

[2022-09-27 14:26] rohitdasu opened #184 "[FEATURE] replace textual navs to icons"
### Description

replace `discord` and `github` textual navigation to only icons and put it beside the theme toggle.
 use icons from `react-icons` package. icons should be `FaDiscord` and `FaGithub`

<img width="831" alt="Screenshot 2022-09-27 at 7 53 02 PM" src="https://user-images.githubusercontent.com/48400770/192552938-e128f9aa-4bd0-4f66-b3dc-a0260d5369f2.png">

[2022-09-27 14:29] ahmedsilat44 commented on #184
@rohitdasu Hey could you assign this to me. I'd like to do this for hacktoberfest. Thanks 😄

[2022-09-27 15:31] rohitdasu commented on #86
i think it should be similar to what github has.
when we reach at the bottom, there should be a button called "load more" and onclick it will add more data to the list.

<img width="793" alt="Screenshot 2022-09-27 at 9 00 23 PM" src="https://user-images.githubusercontent.com/48400770/192569725-91cf6af0-ffc8-4c35-8ac0-ae0a202d97e6.png">

[2022-09-27 15:41] RakeshSangem commented on #86
Yeah, it would be great if we implement like this. Because the loading time can be reduced, right?

[2022-09-27 20:17] kashifumair125 commented on #184
@rohitdasu hey could you assign this to me .

[2022-09-28 08:51] rohitdasu commented on #184
I would suggest you to join the discord server and talk with the devs. Then someone can assign you this issue.

[2022-09-29 09:03] ctoffanin commented on #178
I can take a look at this if it is ok with you.

[2022-09-29 09:04] leewan-09 commented on #178
Sure

[2022-09-29 09:05] ctoffanin commented on #178
Ok, you can assign it to me.

[2022-09-30 15:22] #184 closed

[2022-09-30 17:27] rohitdasu opened #186 "[FEATURE] create a search API"
### Description

Requirements:
- Create a search API for the projects
- It should be Fuzzy Search (A fuzzy search searches for text that matches a term closely instead of exactly)
- It should search for a keyword in project name, description and tags

[2022-09-30 17:27] rohitdasu commented on #186
<img width="1345" alt="Screenshot 2022-09-30 at 10 57 32 PM" src="https://user-images.githubusercontent.com/48400770/193324460-31036ec2-cd5c-44c4-aca7-e70fef98b213.png">

[2022-09-30 17:40] rohitdasu opened #187 "[FEATURE] add `content` field in the submit page [FE]"
### Description

Requirements:
- Add a new field called `Content` below the `cover image`.
- `Content` should be a rich text editor where user will add markdown and can preview the markdown. (Just like github's comment box)

Note:- Any package suggestions are welcome, we can discuss which one will work well with our application.

[2022-09-30 17:45] rohitdasu opened #188 "[FEATURE] add `content` to the create project API [BE]"
### Description

Requirement:
We are adding new field called `content` to the create project submit form. For that we need to update our existing create project API.

FYI the `content` field will be markdown.

[2022-09-30 17:54] rohitdasu opened #189 "[CHORE] add automatic className sorting for tailwind prettier"
### Description

Requirement:
Please add prettier plugin tailwindCSS so that classNames will be sorted. It will help increasing the readability for the developers.

Link - https://tailwindcss.com/blog/automatic-class-sorting-with-prettier

[2022-09-30 18:03] rohitdasu opened #190 "[FEATURE] merge homepage + about page [FE]"
### Description

requirements:
We will remove about section from the Nav menu. It will be now merged with homepage itself.
- Open for designs. If anyone has any ideas let us know.

for inspiration we can use [deefang](https://defaang.vercel.app)'s landing page.

[2022-09-30 19:02] Prajwal0225 commented on #190
👋🏽 Hey, @rohitdasu

I am very much interested in contributing to this repository. I pretty much understand what you are hoping for so can you assign this issue to me?

[2022-09-30 19:07] rohitdasu commented on #190
Hi @Prajwal0225 how are you going to contribute?

[2022-09-30 19:35] leewan-09 opened #191 "[FEATURE] Add Project Form Validation"
### Description

Validation is lacking from the[ Add Project form](https://project-mate.vercel.app/projects/submit) right now. These are the requirements to strengthen our validation.

**Requirements**

- Add validation to `Repository URL`
- Add validation to `upload image` and size limit is **2MB**
- On validation error show red borders to the input fields
- The `description field` should have a

[2022-09-30 19:41] titusjoyson commented on #191
@leewan-09 I'll take this issue

[2022-09-30 19:45] Vishrut19 commented on #190
Hey @rohitdasu  can I work on this issue ?

[2022-09-30 19:45] leewan-09 opened #192 "[FEATURE] Add a loader animation to the submit project page"
### Description

When we reload the [submit project page](https://project-mate.vercel.app/projects/submit), we can see the loading text. Replace loading text with a `lottie loading animation`.

Lottie Loading Animation
https://lottiefiles.com/search?q=loading&category=animations

<img width="1086" alt="Screenshot 2022-10-01 at 00 44 32" src="https://user-images.githubusercontent.com/60838584/19334

[2022-09-30 19:46] Vishrut19 commented on #135
Hey @rohitdasu  can I work/help on this issue ?

[2022-09-30 19:57] leewan-09 opened #193 "[FEATURE] Develop an API to upload images"
### Description

Currently, there is no API to upload project cover images. Develop an API to upload images to storage buckets.

<img width="1171" alt="image" src="https://user-images.githubusercontent.com/60838584/193346978-17012cbb-f56a-4a3c-b5f7-b8fbb3411a79.png">

[2022-09-30 19:59] leewan-09 commented on #191
Sure 😊

[2022-09-30 20:05] leewan-09 commented on #190
@Vishrut19 @Prajwal0225  Would you like to join our Discord server? So that we can explain more about this task.
https://discord.gg/PNRfG2Bm

[2022-09-30 20:12] leewan-09 opened #194 "[CHORE] Replace fetch api with axios"
### Description

Replace all fetch APIs with Axios also handle the errors

![image](https://user-images.githubusercontent.com/60838584/193348970-2db621a2-58d9-483a-bb8e-f1b35fad7b87.png)

[2022-09-30 20:20] raji2004 commented on #193
i would love to be assigned this issue please

[2022-09-30 21:02] aanchal-fatwani commented on #194
Hi @leewan-09, I would like to work on this issue. Please assign it to me. Thanks.

[2022-09-30 21:14] leewan-09 commented on #194
sure

[2022-09-30 21:24] mehraankush commented on #192
hello i can do that assign it to  me..

[2022-09-30 22:48] mau211 commented on #187
@rohitdasu Can this be assigned to me?

[2022-09-30 23:03] RodrigoRVSN commented on #188
Can you assign me?

[2022-09-30 23:09] RodrigoRVSN commented on #189
Can you assign me?

[2022-10-01 02:14] yadavsairaj commented on #192
Hey can you assign this to me?

[2022-10-01 02:35] AdityaPainuli commented on #193
Which storage bucket do you have in mind ?

[2022-10-01 02:38] AdityaPainuli commented on #188
Hey can I work on this issue?

[2022-10-01 02:39] AdityaPainuli commented on #187
I will also want to work on this one .

[2022-10-01 02:39] AdityaPainuli commented on #186
For the search bar do you want to search it from project name or tags

[2022-10-01 05:02] Kaushik-Iyer commented on #80
Can I work on this?

[2022-10-01 05:07] Prajwal0225 commented on #190
I will be arranging all the sections one by one.
And when user clicked on perticular section in home screen then it will scroll down to that perticular section 😇.

[2022-10-01 06:17] rohitdasu commented on #80
i think there is a new issue related to this. closing this one.

[2022-10-01 06:17] #80 closed

[2022-10-01 06:19] rohitdasu commented on #186
in the description it's already mentioned. (project name, description and tags - all three)

[2022-10-01 06:21] rohitdasu commented on #194
@aanchal-fatwani let me know if you are able to run the app locally. Or you can join our discord server to get help. Link in the readme

[2022-10-01 06:23] rohitdasu commented on #190
Guys please create PR using your creativity, would love to see ❤️

[2022-10-01 06:25] rohitdasu commented on #187
@mau211 would you like to join our discord server? you can get more details there. link in the readme.md file

[2022-10-01 07:44] soustab10 opened #196 "Improve About Us Page"
### Description

The current About Us page only shows small icons of the contributors.
![image](https://user-images.githubusercontent.com/95632583/193398877-64ec579c-ddad-44cd-b8cd-ebb7c3e16ec1.png)

 I was thinking of a way of making cards which show their Github (and Linkdedln) profile info when hovered. An example can be found as shown:
![image](https://user-images.githubusercontent.com/9563258

[2022-10-01 07:46] soustab10 commented on #189
Can I be assigned to this issue?

[2022-10-01 07:51] leewan-09 commented on #196
We are planning to remove the about page and move this part to the home page

[2022-10-01 07:53] soustab10 commented on #196
So can I work on implementing the said idea in the Home Page itself? Or do you have other plans for the same.

[2022-10-01 08:01] leewan-09 commented on #196
https://github.com/rohitdasu/projectmate/issues/190

[2022-10-01 08:55] Freedisch commented on #186
Hello @rohitdasu is there anyone working on that? I want to work on that issue

[2022-10-01 08:56] rohitdasu commented on #186
yes you can @Freedisch
did you get the requirements?

[2022-10-01 08:58] Freedisch commented on #186
Yes, I got it

[2022-10-01 09:01] leewan-09 commented on #186
How do you plan to implement the API?

[2022-10-01 09:24] Freedisch commented on #186
@leewan-09, There is a module called Fuse.js, never used it before but I think we can use it for the API. Let me go through it and come back

[2022-10-01 09:28] leewan-09 commented on #186
did you  check out existing APIs

[2022-10-01 09:36] bloodmonk7 opened #198 "[FEATURE] Search Bar in Projects is flowing out too much!"
### Description

![Screenshot 2022-10-01 150229](https://user-images.githubusercontent.com/48784848/193402971-521e28fe-aa7f-40a8-ac90-e7531bd94fe7.png)
The search bar is flowing more than project tabs below it (in terms of horizon), If both of them are made of equal length horizontally it will look good!

I would love to work and make it look better

[2022-10-01 10:01] leewan-09 commented on #198
What plans do you have to improve the search bar?

[2022-10-01 10:02] raji2004 commented on #193
idk yet

[2022-10-01 10:07] #192 closed

[2022-10-01 10:11] bloodmonk7 commented on #198
As you can see It's style can be made a bit more clear than this opaque one and border of search bar is going out on x-axis on both sides if it will be aligned with below project tabs it will look good i think.
I would love suggestions from you as well!
![Screenshot 2022-10-01 150229](https://user-images.githubusercontent.com/48784848/193404377-4c8ae220-e55c-42f8-ac7b-e3a1eb61e712.png)

[2022-10-01 10:20] leewan-09 commented on #198
Can you create a PR for this? We would love to see it.

[2022-10-01 10:20] raji2004 commented on #193
ok so i will use cloudinary

[2022-10-01 10:21] #86 closed

[2022-10-01 10:23] bloodmonk7 commented on #198
Sure, Thank You for allowing me. I am happy as this is my first PR, Thank you for giving me this opportunity

[2022-10-01 10:24] raji2004 commented on #193
so i have a problem i cant access this page idk y

[2022-10-01 10:24] Harsh3363 opened #199 "Improvement in UI"
### Description

The discord and github buttons would look much better if we could add hover effect to it

### Screenshots

![bug3](https://user-images.githubusercontent.com/72756692/193404966-a464178c-d67d-408f-b592-bda86112c2f0.png)

[2022-10-01 10:25] Harsh3363 commented on #199
Please assign this to

[2022-10-01 10:31] rohitdasu commented on #199
Hi @Harsh3363 this doesn't comes under `bug` rather than it comes under `enhancement` label.

[2022-10-01 10:33] rohitdasu commented on #199
you can create a PR. if our maintainers like the enhancement then they will approve it 👍

[2022-10-01 10:34] Harsh3363 commented on #199
@rohitdasu should I delete this issue and create a new one as a General Feature Request?

[2022-10-01 10:34] rohitdasu commented on #199
no, that's fine. i've changed the label 👍

[2022-10-01 10:35] Harsh3363 commented on #199
okay

[2022-10-01 10:44] leewan-09 commented on #193
You have to login to access that page. In development environment you can use any password.

[2022-10-01 10:45] rohitdasu commented on #193
you need to login

[2022-10-01 13:36] raji2004 commented on #193
![Screenshot (96)](https://user-images.githubusercontent.com/105373159/193412140-b85e5694-6413-4d72-9a93-3e801cd92ae9.png)
i tried that its giving me this

[2022-10-01 13:52] leewan-09 commented on #193
If you follow the README file, it should work.

[2022-10-01 14:13] ctoffanin commented on #178
Why was I unassigned from this?

[2022-10-01 14:14] leewan-09 commented on #178
Are you working on the task?

[2022-10-01 14:14] ctoffanin commented on #178
Yes

[2022-10-01 14:19] rohitdasu commented on #178
hey @ctoffanin let us know if you need anything

[2022-10-01 14:21] ctoffanin commented on #178
I have a question though.
In `submit.tsx` in the `FromInputs` type there is `coverImage: any;`
I was assuming it's type `string` because of
[code]
but in
[code]

the value is set by default to null.
If I change the type of `coverImage` to `string | null`, I have an error from the property `src` of `Image`

[2022-10-01 14:23] rohitdasu commented on #178
yeah that's the error of `Image` of nextjs

[2022-10-01 14:23] rohitdasu commented on #178
I've had the same issue

[2022-10-01 14:24] rohitdasu commented on #135
hey @Vishrut19
did you see the figma for profile page?

[2022-10-01 14:26] leewan-09 commented on #178
if the cover image is null we need to set the default cover image

[2022-10-01 14:29] ctoffanin commented on #178
Do you mean to replace the `null` of
`onClick={() => setValue('coverImage', null)}` with the same string of `coverImg:` in the POST's body?

[2022-10-01 14:31] leewan-09 commented on #178
cover image is optional, right?

[2022-10-01 14:40] ctoffanin commented on #178
from what I can see it's optional in the form, but mandatory in zod schema and that is the reason for the default image in the body of the post.

[2022-10-01 14:42] leewan-09 commented on #178
yep

Yep I noticed that, it is mandatory in Prisma too

[2022-10-01 14:42] ctoffanin commented on #178
so either I make a const with the default image URL and I use it for both `body.coverImg` and the `null` in `onClick={() => setValue('coverImage', null)}` or ...

[2022-10-01 14:46] leewan-09 commented on #178
`type FormInputs = {
  tags: string[];
  projectName: string;
  repositoryLink: string;
  projectDescription: string;
  coverImage: string | null;
};`

` const coverImageValue = watch('coverImage');`

<img width="480" alt="image" src="https://user-images.githubusercontent.com/60838584/193414990-37ec181c-de5d-4784-a80d-048b220d90b5.png">

[2022-10-01 14:47] leewan-09 commented on #178
we can do like this, You can adjust Zod and Prisma "Cover image as optional"

[2022-10-01 14:53] mau211 commented on #187
Yes, thank you

[2022-10-01 14:58] ctoffanin commented on #178
All right, let me commit and make a PR

[2022-10-01 15:08] rohitdasu commented on #178
so it will be handled in FE?

[2022-10-01 16:08] raji2004 commented on #193
![Screenshot (97)](https://user-images.githubusercontent.com/105373159/193418216-4763303d-45e0-4e2b-88f4-80869d2175e3.png)
 so i got this error while doing prisma db seed

[2022-10-01 16:09] raji2004 commented on #193
and can i get the mongodb url?

[2022-10-01 16:47] yash91989201 commented on #135
I am interested to work on this issue , could you please assign it to me ?

[2022-10-01 17:17] #189 closed

[2022-10-01 17:39] #178 closed

[2022-10-01 17:42] rohitdasu commented on #135
hey, did you check design for it?

[2022-10-02 02:47] yash91989201 commented on #135
No , I haven't . I could not find the figma file , could you please point me to it . I'll look into it .

[2022-10-02 03:05] yash91989201 commented on #135
Yeah , I checked it out last night . The design is pretty good, I can implement the required design.

[2022-10-02 03:21] LucioHenrique512 commented on #193
@raji2004 you can install mongo on your machine, use a docker image or use in the cloud.
and then you can run prisma commands described in the readme to create db schema and seed it

https://www.mongodb.com/cloud/atlas

[2022-10-02 03:25] LucioHenrique512 commented on #199
Hi @Harsh3363, i can work on it?

[2022-10-02 05:28] aakashraj01 commented on #190
Hey @rohitdasu Would love to contribute in this issue :) .Will you assign me this issue?

[2022-10-02 06:42] raji2004 commented on #193
ok

[2022-10-02 06:56] raji2004 commented on #193
so im using firebase is that ok?

[2022-10-02 07:06] Freedisch commented on #186
@leewan-09  Not yet, Do u have one mind I can use? I'm trying to lunch the project, but I keep receiving a seed error
![image](https://user-images.githubusercontent.com/82499435/193442293-b51b6dac-444f-442e-82bb-3c002ba65c34.png)

[2022-10-02 07:42] leewan-09 commented on #186
Did you follow the readme file?

[2022-10-02 07:54] Freedisch commented on #186
Yes I did, and I set up the mongo URI with atlas

[2022-10-02 07:54] raji2004 commented on #193
im really sorry but i am unable to do it please assign the task to someone more qualified

[2022-10-02 07:56] leewan-09 commented on #193
its okay

[2022-10-02 09:11] #198 closed

[2022-10-02 09:39] ginabeki commented on #196
can i work on this issue?

[2022-10-02 09:41] rohitdasu commented on #196
hi @ginabeki this task is duplicate one. you can find the new task in #190

[2022-10-02 09:42] rohitdasu commented on #196
closing this issue as we have another one related to this.

[2022-10-02 09:42] #196 closed

[2022-10-02 09:52] ginabeki commented on #190
Is this issue available?

[2022-10-02 11:27] hs05june opened #204 "UI improvement in About Page"
### Description

Current about page doesn't seem to meet the standard of the website. Please assign this task to me.

[2022-10-02 12:58] leewan-09 commented on #186
Would you like to join our discord server. Where we can help you more

[2022-10-02 14:30] Freedisch commented on #186
Alright

[2022-10-02 16:22] hs05june commented on #204
Made some changes. Please review my PR

[2022-10-03 10:51] yash91989201 commented on #135
Could you please assign this issue to me? I can implement the design given in figma.

[2022-10-03 12:38] LucioHenrique512 commented on #193
@leewan-09, can assign this issue to me?

[2022-10-03 12:51] leewan-09 commented on #193
Sure, Share your plan with us 😄

[2022-10-03 14:35] rohitdasu commented on #199
@LucioHenrique512 you can take this

[2022-10-03 14:39] rohitdasu commented on #204
Hi @hs05june we are planning to remove the about page. here is the link for the issue - https://github.com/rohitdasu/projectmate/issues/190

closing the current issue.

[2022-10-03 14:39] #204 closed

[2022-10-03 15:12] rohitdasu commented on #193
what about cloudinary?

[2022-10-03 15:24] LucioHenrique512 commented on #193
I didn't know about this solution, I took a look, I think we can use cloudinary.

[2022-10-03 19:12] iamkelv commented on #194
@leewan-09  can you assign the issue for me?

[2022-10-03 20:15] leewan-09 commented on #194
@aanchal-fatwani are you working on the task?

[2022-10-04 13:47] leewan-09 commented on #194
Sure, create a pr

[2022-10-04 14:26] rohitdasu commented on #190
yes

[2022-10-04 14:26] rohitdasu commented on #190
could you create a PR mentioning this issue, thanks

[2022-10-04 17:35] Shivank12batra commented on #194
I see no one assigned to this task, can I do this?

[2022-10-04 17:36] rohitdasu commented on #194
hi @Shivank12batra this issue has active PR already

[2022-10-04 23:31] uday03meh commented on #50
Hi, Can I work on this issue?

[2022-10-05 06:43] rohitdasu commented on #50
hi @uday03meh i think we are not ready for this ticket. we'll pick this issue when we complete our first mvp

[2022-10-05 08:28] #194 closed

[2022-10-05 09:33] #191 closed

[2022-10-05 09:42] AdityaPainuli commented on #134
Hey can I work on this issue

[2022-10-05 09:45] rohitdasu commented on #134
okay sure, any idea how it should look?

[2022-10-05 09:49] AdityaPainuli commented on #134
Not so sure about it but will try to create a basic rough mockup of it and then see how things goes . You have some design or suggestions in your mind please mention it .will try to add them

[2022-10-05 15:21] AdityaPainuli commented on #134
Hey, can you be more specific about the component you want on the details page other than the project description, tags, and GitHub repo button .

[2022-10-07 18:23] rohitdasu opened #212 "[FEATURE] create GET ProjectsByUserId API"
### Description

Requirement:
Create an API where we will be getting all projects related to the userid.
It should be secure, authorised user can only see the data.

[2022-10-08 11:30] rohitdasu opened #213 "[FEATURE] Add Blogs page to our app - FE"
### Description

Add a new section - blogs to our app.
Requirements:
Add new navigation item called `blogs`
<img width="554" alt="Screenshot 2022-10-08 at 4 57 43 PM" src="https://user-images.githubusercontent.com/48400770/194705164-fd43655d-5218-42c1-9829-7d3502fa612b.png">
in the page blogs page add `Coming soon..` text for now. Will implement blogs page later when we built our backend for that

[2022-10-08 11:35] anuragh2002 commented on #213
Hey @rohitdasu I would like to work on this issue. Can you please assign it to me?

[2022-10-08 11:36] rohitdasu commented on #213
hi @anuragh2002 you can work on it and create a PR 👍

[2022-10-08 17:34] #135 closed

[2022-10-09 09:05] rohitdasu commented on #190
Closing this as it's done.

[2022-10-09 09:05] #190 closed

[2022-10-11 17:40] titusjoyson commented on #188
@rohitdasu if this issue is still not taken I can work on this.

[2022-10-11 17:41] rohitdasu commented on #188
sure

[2022-10-11 17:44] titusjoyson commented on #188
@rohitdasu pls assign this to me

[2022-10-11 17:45] rohitdasu commented on #188
done @titusjoyson

[2022-10-12 15:30] rupali-codes opened #217 "[CHORE] Tags section is overlapping project description"
### Description

### Issue
If the description of project would be long, visitors won't be able read it.

### How it can be solved
- by adding text-overflow property
- reducing the size of font

### Screenshot
![image](https://user-images.githubusercontent.com/78981177/195384270-b3b27066-d7be-4af6-bdaa-b9c9aff35b76.png)

[2022-10-12 15:42] rohitdasu commented on #217
hi @rupali-codes
how can i replicate this issue? did you make the screen size small?

[2022-10-12 16:48] rohitdasu commented on #217
I cannot see actually... but we can definitely take your issue into consideration. Will keep this issue for development so anyone who wants to contribute can fix this issue. @rupali-codes thanks for contributing.
<img width="390" alt="Screenshot 2022-10-12 at 10 16 26 PM" src="https://user-images.githubusercontent.com/48400770/195401389-caae698d-8ef9-4128-afcb-cef4b53ce109.png">

[2022-10-12 17:41] rupali-codes commented on #217
My pleasure @rohitdasu, can I take this...?

[2022-10-12 17:42] rohitdasu commented on #217
sure @rupali-codes
please join our discord server too. we can help you out if you need anything while setting up the development environment locally.

[2022-10-12 17:48] rupali-codes commented on #217
yeah, sure.

[2022-10-13 12:12] #134 closed

[2022-10-13 12:35] Shreejan-35 opened #219 "[FEATURE] A good page for github"
### Description

In clicking on github in the menu it directly opens github.com.
But if we make a html page consisting of all the information of the github with stats and graphs that will be good and then we transfer the traffic to github.
Pls assign the task of making the webpage for github.
I have some questions as well -
- how to add tags when uploading a project in the website? (It is not spec

[2022-10-14 06:48] rohitdasu commented on #219
github page outside project details page?

[2022-10-14 07:00] rohitdasu opened #220 "[FEATURE] replace plain text and icon with LOTTIE ANIMATION"
### Description

Old:
<img width="1024" alt="Screenshot 2022-10-14 at 12 21 34 PM" src="https://user-images.githubusercontent.com/48400770/195781643-0e3df784-3773-4ec4-a6fb-eb67201d311a.png">

New:
<img width="427" alt="Screenshot 2022-10-14 at 12 21 48 PM" src="https://user-images.githubusercontent.com/48400770/195781669-e81b26a6-9907-43e7-9730-e30495758d83.png">

link for the animation json file

[2022-10-14 07:57] rohitdasu opened #221 "[FEATURE] Improve Homepage"
### Description

Requirement:
We have a decent home page, where we are displaying basic info about our app and opensource. but want more creativity to it. if anyone has any better UI in mind then please raise a PR.

homepage link - https://project-mate.vercel.app/

[2022-10-14 10:55] riteshsoni123 commented on #220
Hello @rohitdasu I would like to work on this issue. Can you please assign this to me?

[2022-10-14 13:59] rohitdasu commented on #220
please create a PR and mention the issue number 👍

[2022-10-15 12:08] rohitdasu opened #224 "[Bug] update the loader lottie animation color"
### Description

Requirement:

Update the loader lottie animation to match with the current theme. Current loader animation color looks yellow, which is not quite right. use this color instead - #ff7100

Current loader:
<img width="485" alt="Screenshot 2022-10-15 at 5 37 07 PM" src="https://user-images.githubusercontent.com/48400770/195985578-291454b0-e61f-43b0-acf5-6be2549391cc.png">

[2022-10-15 12:10] Rounak-28 commented on #224
@rohitdasu can I do this?

[2022-10-15 12:10] rohitdasu commented on #224
sure @Rounak-28

[2022-10-15 13:18] NNL-Keerthana commented on #221
Hi!!! I am interested to work on this.
Can you please elaborate on how you want it to look like?

[2022-10-15 13:23] rohitdasu commented on #221
Hi @NNL-Keerthana
We want to improve the UI/UX of the homepage.
If you have any ideas to improve the UI and make it look modern then please let us know.

[2022-10-15 13:23] rohitdasu commented on #221
please join our Discord server to discuss with other team members.

[2022-10-15 13:53] rohitdasu commented on #221
here it is - https://discord.com/invite/FQtyMWFZQ9

[2022-10-15 15:08] #220 closed

[2022-10-15 15:10] #224 closed

[2022-10-15 16:08] jeevikasirwani opened #226 "[FEATURE] add filter section in projects page"
### Description

The website can have tags while choosing projects (for example js, ruby, python) Categorizing projects under these tags make it easy for developers to checkout as per their skill set.

[2022-10-15 16:10] rohitdasu commented on #226
Hi @jeevikasirwani we already have tags for project. Did you check in projects tab? there we are showing tags in chips. Let me know if you mean anything else.

[2022-10-15 16:32] jeevikasirwani commented on #226
![Screenshot (62)](https://user-images.githubusercontent.com/83456541/195997600-337ffccc-2ff0-4763-8164-76401eff4aaa.png)
Maybe something similar to this, the tags on the left side of website.

[2022-10-15 16:33] rohitdasu commented on #226
@jeevikasirwani yup it's filter. we have this in our bucket list.

[2022-10-15 16:38] rohitdasu commented on #226
Thanks for adding this issue

[2022-10-15 16:44] jeevikasirwani commented on #226
okay great!

[2022-10-16 04:45] #187 closed

[2022-10-16 04:57] rohitdasu opened #228 "[REFACTOR] improve project submit page"
### Description

Requirement:

* improve project submit page code.
* Create input component and etc and reuse there.
* There is some error logs in console, please fix it (Seen in local development)
* Optimise code

[2022-10-16 05:59] raazseth commented on #226
Hey, I am interested in working on this project.

Can you please explain how I can get started?

[2022-10-16 06:13] rohitdasu commented on #226
Hey @raazseth could you please join our discord server? we can help you out in getting started

[2022-10-17 15:11] rohitdasu opened #230 "[IMPROVEMENT] add card color light gray for light mode."
### Description

Requirement:
change background color for cards in profile page -  light gray color.

current version:
<img width="1415" alt="Screenshot 2022-10-17 at 8 37 26 PM" src="https://user-images.githubusercontent.com/48400770/196214792-b3321781-e162-4972-b27b-fedad0e76533.png">

[2022-10-17 16:52] #219 closed

[2022-10-17 16:53] RakeshSangem commented on #230
Adding a shadow works best imo. What do you think?

[2022-10-17 16:54] rohitdasu commented on #230
how about adding a different color for background? i feel like everything is white here

[2022-10-17 17:21] leewan-09 opened #231 "[BUG] Project card UI breaks"
### Description

### **Project card UI breaks**

Things to fix
1. long words should break into a new line.  ( **One line for TITLE**)
2. Give a fixed height to the card

![image](https://user-images.githubusercontent.com/60838584/196240879-27701c65-5e68-4cfc-8f19-201c890316ac.png)

###  This is how the card should look like
![image](https://user-images.githubusercontent.com/60838584/196242065-0c7a

[2022-10-17 19:17] RakeshSangem commented on #230
So here, we can reduce the white intensity by using an off white color so that these cards lift up.

[2022-10-17 19:20] NnajiChimuanya commented on #230
Assign me this...

[2022-10-17 19:23] rohitdasu commented on #230
What did you understand and how will you solve this issue?

[2022-10-17 19:27] RakeshSangem commented on #230
@rohitdasu So this is a rough idea of how it will look if we use box-shadow.

![Screenshot 2022-10-18 005417](https://user-images.githubusercontent.com/107752425/196265061-f6c43da4-2119-4716-946c-0b66f9ab3359.png)

[2022-10-17 19:34] NnajiChimuanya commented on #230
@RakeshSangem  is already on it, so I'll withdraw

[2022-10-17 19:38] RakeshSangem commented on #230
nope, this issue still open.

[2022-10-17 19:53] NnajiChimuanya commented on #230
Ohh, I just realized tailwindcss
i'm more of CSS, Sass SCSS

[2022-10-17 21:04] NnajiChimuanya commented on #230
Done @RakeshSangem

[2022-10-18 07:39] KidesLeo commented on #231
Hi there, I got a quick start on this and found a simple truncate class did the job. I don't think setting a fixed height does anything since all other overflows are dealt with. Should I create a PR?

[2022-10-18 07:40] rohitdasu commented on #231
@KidesLeo  yes please, we would like to see

[2022-10-18 07:43] KidesLeo commented on #231
![image](https://user-images.githubusercontent.com/39452009/196367507-6342dc8e-4ad5-4d0e-8ef6-f3de56753598.png)
This is how it looks, also checking the author's name in case it overflows.

[2022-10-18 07:43] KidesLeo commented on #231
![image](https://user-images.githubusercontent.com/39452009/196367872-c2296738-772c-4b4c-b258-223263725994.png)
Here's the whole page with some overflowing titles and descriptions.

[2022-10-18 07:45] rohitdasu commented on #231
@leewan-09

[2022-10-18 09:04] leewan-09 commented on #231
this is fine. The title should only have one line.

[2022-10-18 09:08] KidesLeo commented on #231
Cheers, PR created.

[2022-10-18 14:50] #228 closed

[2022-10-18 16:24] rohitdasu opened #234 "[CHORE] update axios version to latest"
### Description

requirement: we have the older version of axios, please upgrade it to latest

[2022-10-18 16:25] javamultiplex commented on #234
I would like to work on this. Please assign this task to me

[2022-10-18 16:27] rohitdasu commented on #234
hi @javamultiplex please create a PR and mention the issue #

[2022-10-18 16:34] javamultiplex commented on #234
@rohitdasu  - In Step4, MONGODB_URI is mentioned. What is the value? I can keep any dummy value or do you have any?

Create an .env file from the .env.template file (copy everything in the .env.template file and put it in the .env file with appropriate values).

MONGODB_URI is the connection string which you'll get from mongodb [for reference]

[2022-10-18 16:35] rohitdasu commented on #234
Hi @javamultiplex you'll get the MONGODB_URI (MongoDB Connection String) from mongodb atlas. It's mandatory to have to use our app.

[2022-10-18 16:39] javamultiplex commented on #234
@rohitdasu  - ok so you mean to say I need to create a free database in MongoDB atlas?

[2022-10-18 16:47] #193 closed

[2022-10-18 16:55] rohitdasu opened #235 "[CHORE] remove image field from projects"
### Description

Requirement:
As we decided we are not gonna use image in the projects, it's not required to show project image in the projects page and details page.

1. remove image from project card in the /projects page.
2. remove image from project details page
3. remove image upload from project submit page

`Note: in BE image is compulsory so while submitting project in api keep the default

[2022-10-18 19:50] javamultiplex commented on #234
@rohitdasu  - I have setup database on MongoDB atlas but when I am running **npx prisma db push** then getting this error. All configurations look fine to me.  Did you also face same issue ?

Error: MongoDB error
Server selection timeout: No available servers. Topology: { Type: Unknown, Servers: [ { Address: cluster0.hp4qfhq.mongodb.net:27017, Type: Unknown, Error: failed to lookup address informa

[2022-10-20 22:35] Olaleye-Blessing opened #241 "[FEATURE] Improve projects page accessibility"
### Description

The accessibility of the projects page could be improved by using the right tags.

Since it's a list of projects, `ul` should be used instead of `div`.  `li` also should be used instead of the inner `div`.

![Screenshot (138)](https://user-images.githubusercontent.com/70102539/197071726-875fed34-e582-4db9-a71a-432ca1972560.png)

[2022-10-21 08:11] rupali-codes commented on #217
Hi @rohitdasu, I thinnk it's specifically on my machine, I've tested with my other system, and it works fine, So I'm closing this issue...Thanks for your help :)

[2022-10-21 08:11] #217 closed

[2022-10-21 15:26] rohitdasu commented on #241
@Olaleye-Blessing great suggestion

[2022-10-21 15:58] #231 closed

[2022-10-21 16:32] #235 closed

[2022-10-21 16:37] rohitdasu commented on #212
done by @leewan-09

[2022-10-21 16:37] #212 closed

[2022-10-21 17:00] leewan-09 opened #245 "[FEATURE] Show all the projects created by the user"
### Description

### Show all the projects created by the user

 On user profile page shows all the projects created by the user. The design and API are already done. Just make it Dynamic.

Endpoint:
`/api/user/project`

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/60838584/197249581-a6de4a3a-03cb-49b4-955f-1d8dbf7d0166.png">

[2022-10-21 17:02] #230 closed

[2022-10-21 20:46] #245 closed

[2022-10-21 21:08] rohitdasu opened #248 "[FEATURE] add twitter handle icon beside github icon"
### Description

Requirement:
* add twitter handle icon beside the github icon.
* onclick it should open a new tab with projectmate's twitter handle
* both mobile version and desktop version navbar should have twitter handle

link: https://twitter.com/projectmateHQ

[2022-10-21 21:15] rohitdasu opened #249 "[REFACTOR] Improve project details page"
### Description

requirements:
* Improve the project details page
* add github stats if possible
* fix alignments etc

[2022-10-21 21:18] rohitdasu opened #250 "[IMPROVEMENT] make all lottie animation color match to primary color"
### Description

requirement:

make all lottie animation to color to primary-color of our project

[2022-10-22 05:37] rohitdasu opened #251 "[BUG] tags not displaying correct value in project details"
### Description

issue: project tags are not displaying correct values in project details page

### Screenshots

<img width="571" alt="Screenshot 2022-10-22 at 11 06 19 AM" src="https://user-images.githubusercontent.com/48400770/197322368-7193dbbd-9950-4029-81db-d2a39c34d6f2.png">

[2022-10-22 05:45] ashwinpadmakumar commented on #251
@rohitdasu Can you please assign me this issue?

[2022-10-22 05:46] rohitdasu commented on #251
Hi @ashwinpadmakumar go ahead create a PR and mention the issue number 👍

[2022-10-22 06:03] #188 closed

[2022-10-22 06:50] itzwow commented on #248
I would like to work on this issue.
Kindly assign me this issue

[2022-10-22 08:01] rohitdasu commented on #248
Please create a PR @itzwow

[2022-10-22 13:06] #251 closed

[2022-10-22 16:56] nitoC commented on #250
can you assign this to me?

[2022-10-22 16:57] rohitdasu commented on #250
Hi @nitoC please work on it and create a PR 👍

[2022-10-22 18:15] #234 closed

[2022-10-22 18:30] #248 closed

[2022-10-24 08:23] rohitdasu opened #258 "[FEATURE] create a `Typography` component"
### Description

Currently in our application we are using texts in random manner. Size mismatch and style mismatch is happening. To fix this issue we need to create a typography component.

Requirement:
* Create a typography component
* It should be polymorphic component - see [this](https://www.freecodecamp.org/news/build-strongly-typed-polymorphic-components-with-react-and-typescript/) for refe

[2022-10-24 08:34] rosita-dmello commented on #258
Hi, I'd like to work on this issue. Can you assign it to me?

[2022-10-24 08:35] rohitdasu commented on #258
Hi @rosita-dmello please feel free to create a PR and mention the issue number# 👍

[2022-10-24 16:28] #241 closed

[2022-10-26 18:27] rohitdasu opened #260 "[CHORE] create a shared tags/chips component"
### Description

Requirements:
as we are using chips/tags in multiple places please create a shared chip component

[2022-10-28 17:56] leewan-09 opened #261 "[FEATURE] Remove auth from the view project details page"
### Description

### Remove Auth From the View Project Details Page.

Without login, the user should be able to view the project details.

[2022-10-28 18:02] issue31 commented on #261
Will you please assign this issue to me?

[2022-11-02 09:59] #261 closed

[2022-11-12 16:00] JakubChorzepa opened #266 "[FEATURE] Upgrade next from 12 to 13"
### Description

We'd like to migrate from next 12 to 13 with changes that are stable, it means without new app directory and Turbopack.

Useful resources:
https://nextjs.org/docs/upgrading
https://nextjs.org/blog/next-13

[2022-11-13 06:24] rohitdasu opened #268 "[CHORE] change package manager from npm to pnpm"
### Description

Requirements:
replace npm package manager to pnpm.
https://pnpm.io/

[2022-11-13 09:52] Olaleye-Blessing commented on #268
I will like to work on this.

[2022-11-13 09:53] rohitdasu commented on #268
sure @Olaleye-Blessing please create a PR 👍

[2022-11-13 11:34] rohitdasu opened #269 "[FEATURE] change favicon color from white to orange"
### Description

requirements:
replace the color of favicon color from white to orange(our primary color)
https://github.com/rohitdasu/projectmate/blob/main/public/dark-logo.svg

[2022-11-13 11:36] rohitdasu opened #270 "[CHORE] improve codebase"
### Description

requirement:
refactor code
implement best practices
enhance readability

[2022-11-16 16:26] #269 closed

[2022-11-22 07:02] #260 closed